- var titulo = "Productos Comerciales México"
- var dominio = "index.html"
//META TAGS
- var keywords = ""
- var description = ""
- var stylesheets = ['http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', 'http://fonts.googleapis.com/css?family=Cabin+Condensed:400,700']
- var javascripts = ['_/jquery.js', '_/slick.js', '_/imagesloaded.js', '_/fluidbox.js', '_/gmaps.js', '_script.js']
// Sitio
- var logo = "productos-comerciales-mexico.png"
- var logoAlt = "productos-comerciales-mexico_invertido.png"

//Menus
- var productosSub = [['pop', 'POP & Merchandising'], ['packaging', 'Packaging Folding Boxes'], ['pallets', 'Pallets'], ['brochures', 'Brochures Stationey'], ['complementary-services','Complementary services']]
- var empresaSub = [['proceso-elaboracion', 'Proceso de elaboración'],  ['mision-vision-filosofia','Misión, Visión y Filosofía' ]]
- var menu = [['index', 'Inicio'], ['productos', 'Productos', productosSub], ['portafolio', 'Portafolio'], ['proceso-elaboracion', 'Empresa', empresaSub], ['clientes', 'Clientes'], ['contacto', 'Contacto']]


mixin header(page, logoType)
	header
		#header
			+logo(logoType,titulo,dominio)
			+socials
		
		nav: +navigation(page,menu)
mixin footer
	footer

mixin socials
	.socials
		a(href="#"): i.fa.fa-facebook-square
		a(href="#"): i.fa.fa-twitter-square
		a(href="#"): i.fa.fa-linkedin-square



mixin tuideaproducto
	.tuideaproducto
		.container
			.col4.push1
				img(src="_/img/ideaproducto.png", alt="Tu Idea, Tu Producto").w100
				div.iconis
					a(href="productos.html"): img(src="_/img/icon_shop.png", alt="")
					a(href="portafolio.html"): img(src="_/img/icon_portfolio.png", alt="")
					a(href="clientes.html"): img(src="_/img/icon_list.png", alt="")
				div
					ul
						li: a(href="productos.html") EMPAQUES
						li: a(href="productos.html") COFRES, BAÚLES Y ESTUCHES
						li: a(href="productos.html") EMBALAJES
						li: a(href="productos.html") BLISTERS
						li: a(href="productos.html") PRESS PACK
			.col6
				img(src="_/img/ideaproductoicon.png", alt="Tu Idea, Tu Producto").w100
		.container.minilinks
			.col3
				a(href="productos.html") Cartón corrugado flauta B y C
				a(href="productos.html") Cartulina SBS 10 hasta 48 pts
			.col3
				a(href="productos.html") Papeles texturizados
				a(href="productos.html") Cartón microcorrugado de 2C y 1C
			.col3
				a(href="productos.html") Papel auto adherible
				a(href="productos.html") Papeles metalizados
			.col3
				a(href="productos.html") Papeles reciclados
				a(href="productos.html") Cartón caple
		.garantia
			.trail
			img(src="_/img/garantia.png", alt="Garantía de entrega")
			
