include _config.jade
include _mixins.jade

doctype html
html(lang="es")
	head
		+head(titulo + " | " , stylesheets, keywords, description)
	body
		.wrapper
			+header('Brochures Stationey', logoAlt)
			
			.container.genProducts
				.menuGen
					h1 Brochures Stationey
					
					- var lista = ['Impresión de papelería <small>Sobres</small><small>Folders</small><small>Blocks</small><small>Recibos</small><small>Papelería interna</small>','Material Publicitario <small>Volantes</small><small>Dípticos</small><small>Polípticos</small><small>Mapas</small><small>Posters</small><small>Promocard y lotería</small><small>Calendarios</small><small>Encartes</small><small>Juegos didácticos', 'MATERIAL EDITORIAL <small>Revistas</small><small>Folletos</small>']
					
					ul
						- for(li in lista)
							li.linkSlider !{lista[li]}
				.gen-slider
					//div
						article.mensaje
							p Nuestro proceso comienza en la resolución de los desafíos que se presentan al realizar una caja o un empaque, con un conocimiento previo de su mercado, nuestros asesores creativos, que cuentan con una gran experiencia técnica, nos brindan una gama de opciones innovadoras adecuadas a sus necesidades tanto rentables como sustentables
						img(src="_/img/brochures_1.jpg", alt="")
							
					div: img(src="_/img/brochures_1.jpg", alt="")
				

		+scripts
		
