include _config.jade
include _mixins.jade

doctype html
html(lang="es")
	head
		+head(titulo + " | " , stylesheets, keywords, description)
	body
		.wrapper
			+header('clientes', logoAlt)
			
			.container
				.c12.tac
					.redtitle - CLIENTES -
					img(src="_/img/clientes.png", alt="Productos Comerciales Clientes").w100
					
		+scripts
		
