include _config.jade
include _mixins.jade

doctype html
html(lang="es")
	head
		+head(titulo + " | " , stylesheets, keywords, description)
	body
		.wrapper
			+header('Complementary Services', logoAlt)
			
			.container.genProducts
				.menuGen
					h1 Complementary Services
					
					- var lista = ['Stoppers 1', 'Stoppers 2', 'Packaging 1', 'Packaging 2', 'Packaging 3']
					
					ul
						- for(li in lista)
							li: a(href="##{li}", onClick="$('.gen-slider').slick('slickGoTo', #{li});").linkSlider !{lista[li]}
				.gen-slider
					div
						article.mensaje
							p Nuestro proceso comienza en la resolución de los desafíos que se presentan al realizar una caja o un empaque, con un conocimiento previo de su mercado, nuestros asesores creativos, que cuentan con una gran experiencia técnica, nos brindan una gama de opciones innovadoras adecuadas a sus necesidades tanto rentables como sustentables
						img(src="_/img/complementary.jpg", alt="")
					- for(var i = 0; i<10; i++)
						div: img(src="_/img/complementary.jpg", alt="")
				

		+scripts
		