include _config.jade
include _mixins.jade

doctype html
html(lang="es")
	head
		+head(titulo + " | " , stylesheets, keywords, description)
	body
		.wrapper
			+header('contacto', logoAlt)
			
			
			.container.contactInfo
				.two-thirds
					.container
						.col5
							div.info
								img(src="_/img/icon_loc.png", alt="Localízación")
								.text 10 de Abril de 1859 # 29 <br> Col. Leyes de Reforma, Iztapalapa. <br> C.P. 09310. México D.F. 
							div.info
								img(src="_/img/icon_mail.png", alt="Correo electrónico")
								.text: a(href="mailto:contacto@productoscomerciales.com.mx") contacto@productoscomerciales.com.mx
							div.info
								img(src="_/img/icon_call.png", alt="Teléfono")
								.text: a(href="tel:56943957") (55) 56 94 39 57
						.col7.formCont
							div.info.formInfo
								.text
									.container
										.col12
											form
												label(for="nombre") Nombre
												input(type="text", name="Nombre", id="nombre")
												label(for="correo") Correo
												input(type="email", name="Correo", id="correo")
												label(for="empresa") Empresa
												input(type="text", name="Empresa", id="empresa")
												label(for="necesito") Necesito
												.container.radios
													.col4
														input(type="radio", name="Necesito", value="Pop & Merchandising", id="pop")
														label(for="pop") Pop<br> & Merchandising
													.col4
														input(type="radio", name="Necesito", value="Packaging Folding Boxes", id="pack")
														label(for="pack") Packaging<br>Folding Boxes
													.col4
														input(type="radio", name="Necesito", value="Pallets", id="pallets")
														label(for="pallets") Pallets
												.container.radios
													.col5.push1
														input(type="radio", name="Necesito", value="Brochures Stationey", id="brochures")
														label(for="brochures") Brochures Stationey
													.col5
														input(type="radio", name="Necesito", value="Complementary services", id="compl")
														label(for="compl") Complementary Services
												.marginTopper
												img(src="_/img/icon_form.png", alt="Formulario de contacto").messageIcon
												label(for="mensaje") Mensaje
												textarea(type="text", name="Mensaje", id="mensaje")
												button(type="submit") Enviar
				.third
					#map-contact
		+scripts
		
