include _config.jade
include _mixins.jade

doctype html
html(lang="es")
	head
		+head(titulo + " | " , stylesheets, keywords, description)
	body
		.wrapper
			+header('mision-vision-filosofia', logoAlt)
			
			.container.marginTopper
				.col10.push1
					.redtitle - MISIÓN -
					p Elaborar productos publicitarios y promocionales de acuerdo a las tendencias del mercado, brindando un servicio integral, con los estándares máximos de calidad y profesionalismo, logrando así, el cumplimiento de nuestras metas económicas y comerciales.
					.redtitle - VISIÓN -
					p Posicionar a Productos Comerciales México como la compañia número 1 en el desarrollo de diseños sustentables en México y en las principales ciudades del mundo; destacando nuestro prestigio como empresa por excelencia en nuestros productos.
					.redtitle - FILOSOFÍA EMPRESARIAL -
					p Nuestro principal interés es la atención a nuestros clientes mediante el respeto, la eficiencia, calidad y puntualidad; contamos con el apoyo y la experiencia de nuestro personal previamente capacitado e identificado en su área de trabajo, guiándonos a través de principios, valores y ética profesional, haciendonos competitivos y diferentes a los demás.
			
			+tuideaproducto
					
		+scripts
		
