include _config.jade
include _mixins.jade

doctype html
html(lang="es")
	head
		+head(titulo + " | " , stylesheets, keywords, description)
	body.portfolio
		.wrapper
			+header('portafolio', logoAlt)
			
			.container
				- for(i=1;i<24;i++)
					a(href="_/img/gal/p#{i}.jpg", data-fluidbox).galleryitem.col4.tac
						.ico
						img(src="_/img/gal/p#{i}.jpg", alt="").w100

			
					
		+scripts
		
