include _config.jade
include _mixins.jade

doctype html
html(lang="es")
	head
		+head(titulo + " | " , stylesheets, keywords, description)
	body
		.wrapper
			+header('proceso-elaboracion', logoAlt)
			
			.container
				.col12.tac
					.redtitle - PROCESO DE ELABORACIÓN -
			
			.container
				.col4
					a(href="#").proceso-cre
						span Creatividad 
						.ico
					a(href="#").proceso-pre
						span Precisión 
						.ico
					a(href="#").proceso-tec
						span Tecnología 
						.ico
				.col8
					
					.proceso
						div: img(src="_/img/pensamiento.png", alt="")
						div: img(src="_/img/todocuenta.png", alt="")
						div: img(src="_/img/tecnologia.png", alt="")
					
		+scripts
		
