/* libraries */
@import '_/dw';
@import '_/customs';
@import '_/slick';
@import '_/slick-theme';
@import '_/fluidbox';

// grid
@fw: 960px;
//	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>
// Fonts
.font(@we:400){ //700
	font-family: 'Cabin Condensed', sans-serif;
	font-weight: @we;
}


.tal{text-align: left;}
.tac{text-align: center;}
.tar{text-align: right;}
//	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>
// Colors
@b: #333; 		//Black
@w: #fff;		//White
@yellow: #F8AB31;
@red : #CB1D24;
@gray: #858585;
@beige: #FFE7D3;
@main : @red;
//	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>
//classes and styles
.container{
  //width: @fw;
  margin: 0 auto;
  .clearfix;
}
.t{outline: 1px solid #eee;}
//	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>
//	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>	>

body{
  .font;
	&.home{
		background: url(../img/home.jpg) center;
		background-size: cover;
		header{ background: transparent;}
	}
}

.wrapper{height: 100%;}
header{
	background: @gray;
	padding-bottom: 37px;
	@media @tablet{
		padding-bottom: 56px;
	}
	@media @mobile{
		padding-bottom: 4px;
	}
	#header{
		.container;
		.logo{
			.col(2);
			position: relative; z-index: 10;
			text-align: center;
			margin-top: 20px;
			img{
				width: 100%;
			}
			@media @tablet, @mobile{
				.col(6);
				.push(3);
			}
		}
		.socials{
			.col(2);position: relative; z-index: 10;
			.push(8);
			margin-top: 20px;
			text-align: right;
			a{
				margin: 5px;
				color: @w;
				&:hover{
					color: @gray;
				}
			}
			@media @tablet, @mobile{
				position: absolute; right: 10px; top: 10px;
			}
		}
	}
	nav{
		.container;
		ul{
			.clearfix;
			text-align: center;
			border-bottom:4px solid @w;
			margin-top: -90px;
			position: relative;
			@media @tablet, @mobile{
				margin-top: 0;
			}
			li{
				display: inline-block;
				@media @mobile{
					width: 100%;
				}
				&:before{
					content:"";
					display: block;
					position: absolute;
					bottom: -10px; height: 10px;
					width: 200px;
					@media @tablet{
						width: 100px;
					}
					@media @mobile{
						width: 80%;
					}

				}
				a{
					display: inline-block;
					padding: 60px 10px 16px 10px;
					text-decoration: none;
					color: @w;
					.font(700);
					font-size: 1.4em;
					&:hover, &.active{
						background: @yellow;
					}
					@media @tablet, @mobile{
						padding: 10px;
						font-size: 1em;
					}
				}
				&:first-child{
					.push(1);
					@media @tablet, @mobile{ .push(0); }
				}
				ul{
					display: none;
					position: absolute;
					bottom: -37px;
					width: @fw;
					left: 0;
					border-bottom: none;
					@media @tablet{
						width: 100%;
						bottom: 0;
						top: 43px;
					}
					@media @mobile{
						position: static;
						top: 0; left: 0; bottom: 0; right: 0;
						width: 100%;
					}
					li{
							margin: 0 5px;
							@media @tablet{
								margin: 0 10px;
							}
							@media @mobile{
								margin: 0;
							}
							a{
								padding: 5px;
								font-size: 1em;
								@media @tablet, @mobile{
									display: inline-block;
									font-size: 0.9em;
								}
							}
						}
				}
				&:hover{
					ul{
						display: block;

					}
				}
			}
		}
	}
}

.impulsamos{
	width: 100%;
	margin-top: 80px;
	text-align: center;
	.floating;
	@media @mobile{
		img{
			width: 80%;
		}
	}
}


.productsSubmenu{
	.clearfix;
	padding: 40px 0;
	height: ~"calc(100% - 225px)";
	@media @tablet{
		height: 400px;
	}
	@media @mobile{
		height: 200px;
	}
	ul{
		width: 100%;
		list-style: none;
		height: 100%;
		li{
			display: block;
			float: left;
			width: 100%/5;
			display: table;
			overflow: hidden;
			height: 100%;
			@media @tablet{
				width: 100%/3;
				&:first-child+li+li+li, &:first-child+li+li+li+li{
					width: 50%;
				}
			}
			@media @mobile{
				width: 100%;
			}
			a{
				display: block;
				width: 100%;
				height: 100%;
				background: @gray;
				display:table-cell;
				vertical-align: bottom;
				.box-sizing(border-box);
				padding: 20px;
				color: @w;
				.font(700);
				font-size: 1.4em;
				text-decoration: none;
				background-position: left;
				overflow: hidden;
				word-wrap: break-word;
				background-repeat: none;
				background-size: cover;
				&:hover{
					background-position: center;
					font-size: 4em;
					line-height: 0.8em;
					.transition(all 300ms);
					padding: 0 0 20px 0;
					word-break: break-all;
					@media @mobile{
						font-size: 2em;
					}
				}
			}
			&:nth-child(1) a{ background-image: url(../img/productos_pop.jpg); }
			&:nth-child(2) a{ background-image: url(../img/productos_pack.jpg); }
			&:nth-child(3) a{ background-image: url(../img/productos_pal.jpg); }
			&:nth-child(4) a{ background-image: url(../img/productos_bro.jpg); }
			&:nth-child(5) a{ background-image: url(../img/productos_com.jpg); }
		}
	}
}


.proceso-cre, .proceso-pre, .proceso-tec{
	display: block;
	font-size: 1.5em;
	color: @b;
	text-decoration: none;
	.clearfix;
	line-height:140px;
	text-align: center;

	@media @tablet, @mobile{
		width: 33%;
		float: left;
		font-size: 1em;
		line-height: 30px;
		span{
			display: block;
		}
	}
	.ico{
		width: 140px; height: 180px;
		display: inline-block;
		background-position: top left;
		.transition( all 100ms ease-out);
		vertical-align: middle;
		float: right;
		@media @tablet, @mobile{
			float: none;
			text-align: center;
			width: 70px; height: 90px;
			background-size: 200%;
		}
	}
	.span{
		display: inline-block;
		width: 50%;
		float: left;
	}
	&.proceso-cre .ico{
		background-image: url(../img/ico_creatividad.png);
	}
	&.proceso-pre .ico{
		background-image: url(../img/ico_precision.png);
	}
	&.proceso-tec .ico{
		background-image: url(../img/ico_tecnologia.png);
	}
	&:hover, &.pro-active{
		color: @red;
		.ico{
			background-position: top right;
			.transition( all 300ms ease-out);
		}
	}
}


.redtitle{
	color: @red;
	.font;
	font-size: 1.8em;
	margin: 20px 0;
}


.galleryitem{
	height: 180px;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	.ico{
		width: 32px; height: 32px;
		background: url(../img/ico_open.png) center no-repeat;
		position: absolute;
		left: -10px; top: -10px;
		.transition(all 300ms);
	}
	&:hover{
		.ico{
			left: 50%;
			top: 50%;
			margin-left: -16px;
			margin-top: -16px;
			.transition(all 300ms);
		}
	}
}




#map-contact{
	height: 562px;
	margin-top: 0;
	width: 100%;
	@media @tablet, @mobile{
		height: 100%;
	}
}



.contactInfo{
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	background: #D44D55;
	.font;
	color:@w;


	.info{
		margin: 40px 0;
		.clearfix;
		img{
			height: 100%;
		}
		.text{
			margin-top: 14px;
			a{
				color: @w;
				text-decoration: none;
				&:hover{
					color: @b;
				}
			}


			.container{
				margin-bottom: 5px;
				color: @w;
				input,textarea{
					background: @w;
					border:none;
					padding: 4px 6px;
					.font;
					.box-sizing(border-box);
					width: 100%;
					font-size: 1.1em;
					display: block;
				}
				textarea{
					margin: 10px 0;
				}
				.messageIcon{
					margin-top: -30px;
				}
				&.radios{
					font-size: 0.9em;
					text-align: left;
					margin-top: 20px;
					margin-bottom: 20px;
					input{
						display: none;
						&+label{
							&:before{
								display: inline-block;
								content:"";
								width: 10px; height: 10px;
								border:2px solid @red;
								background: transparent;
								margin-right: 5px;
								.border-radius(50%);
								cursor: pointer;
							}
						}
						&:checked{
							&+label{
									color: @b;
								&:before{
									background: @red;
									border:none;
								}
							}
						}
					}
				}
				button{
					display: block;
					width: 50%;
					border:none;
					padding: 10px 20px;
					.font;
					color: @w;
					background: @red;
					cursor: pointer;
					font-size: 1.1em;
					float: right;
					&:hover{
						background: @b;
					}
				}
			}
		}
	}
	.formInfo{
		background: #FDA050; margin: 0; padding: 10px 20px;
		height: 562px;
		.box-sizing(border-box);
		label{
			display: block;
			font-size:1.2em;
			font-weight: lighter;
			margin-top: 10px;
			font-size: 1em;
		}
		@media @tablet, @mobile{
			height: auto;
		}
	}
}


.infoaddress .info{
	text-align: right;
}

.genProducts{
	position: relative;
	width: 100%;
	height: 100%;
}
.menuGen{
	position: absolute;
	.col(3);
	height: 100%;
	margin-left: 0;
	background: fade(@red,80%);
	.clearfix;
	z-index: 10;
	left: 0; top: 0;
	@media @mobile{
		width: 60%;
	}

	h1{
		margin: 20px;
		.font(700);
		font-size: 2em;
		color: @w;
	}
	ul{
		margin: 20px;
		list-style: none;
		font-size: 1.1em;
		li{
			text-align: right;
			margin: 5px 0;
			color: @w;
			text-decoration: none;
			.font;
			small{
				font-size: 0.8em;
				display: block;
				.opacity(0.5);
			}
		}
	}
}
.gen-slider{
	margin-bottom: 0;
	div{position: relative;
		img{
			width: 100%;
		}
	}
	.mensaje{
		.col(4);
		.push(3);
		position: absolute;
		left: 0; top: 0;
		z-index: 10;
		height: 100%;
		background: fade(@b, 90%);
		color: @w;
		.font; font-size: 1.4em;
		p{
			margin: 80px 20px;
		}
	}
	.slick-dots{
		bottom: 20px;
		li.slick-active button::before{
			color: @w;
			.opacity(1);
			font-size: 12px;
		}
		li button::before{
			font-size: 6px;
			color: @w;
			.opacity(0.6);
		}
	}
}

.marginTopper{margin-top: 40px;}




.tuideaproducto{
	margin-top: 100px;
	margin-bottom: 40px;

	.iconis{
		margin-top: 20px;
		a{
			display: inline-block;
			margin: 10px 23px;
		}
	}

	ul{
		list-style: none;
		margin: 40px 10px;
		a{
			display: inline-block;
			color:@b;
			.font;
			font-weight: bold;
			padding: 10px;
			margin: 5px 0;
			text-decoration: none;
			position: relative;

			&:before{
				content:"";
				position: absolute;
				width: 40px;height: 40px;
				left: -40px;
				top: 0;
				background-image: url(../img/icon_go.png);
				background-position: center;
				background-repeat: no-repeat;
				display: none;
			}
			&:hover{
				color:@red;
				&:before{
					display: block;
				}
			}
		}
	}
	.minilinks a{
		text-align: center;
		display: block;
		color:@b;
		.font;
		font-size: 0.9em;
		font-weight: bold;
		margin: 5px 0;
		text-decoration: none;
		&:hover{
			color:@red;
		}
	}
	.garantia{
		width: 100%;
		margin: 30px auto;
		overflow: hidden;
		.trail{
			width: 70%;
			float: left;
			background: #f43f3b;
			height: 14px;
			margin-top: 24px;
			@media @tablet, @mobile{
				width: 50%;
			}
		}
		img{
			width: 20%;
			float: right;
			@media @tablet, @mobile{
					width: 40%;
					margin-right: 20px;
			}
		}
	}
}



.two-thirds{
	width: 66%;
	float: left;
	@media @tablet, @mobile{
		float: none;
		width: 100%;
	}
}
.third{
	width: 34%;
	float: right;
	text-align: right;
	height: 100%;
	@media @tablet, @mobile{
		width: 100%;
		height: 300px !important;
		float: none;
	}
}
.formCont{
	margin: 0;
	float:right;
}



.tuideatuproducto{
	@media @tablet, @mobile{
		margin-top: 200px;
	}
}
