@charset 'UTF-8';
/* libraries */
/* ####################################################### */
/* RESET.LESS */
* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
b,
strong {
  font-weight: bold;
}
img {
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
li {
  display: list-item;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}
svg {
  overflow: hidden;
}
/* ####################################################### */
/* MEDIA QUERIES */
@media only screen and (min-width: 960px) {
  .nodesktop {
    display: none;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px), only screen and (max-width: 480px) {
  .notablet {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .nomobile {
    display: none;
  }
}
/* ####################################################### */
/* COLUMNS GRID */
.container {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .container {
    width: 480px;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}
.container .container {
  width: 100%;
}
.grid {
  background: url(http://griddle.it/940-12-20?num=0) repeat-y;
  background-size: 940px;
  background-position: center;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .grid {
    background: url(http://griddle.it/464-12-8?num=0) repeat-y;
    background-size: 470px;
    background-position: 4px;
  }
}
@media only screen and (max-width: 480px) {
  .grid {
    background: url(http://griddle.it/960-12-20?num=0) repeat-y;
    background-size: 97.918%;
    background-position: center;
  }
}
.grid:before {
  content: ".container";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0.6em;
  color: #aaa;
}
.col1 {
  display: block;
  float: left;
  width: 6.25133%;
  margin: 0 1.041%;
}
.col2 {
  display: block;
  float: left;
  width: 14.58466%;
  margin: 0 1.041%;
}
.col3 {
  display: block;
  float: left;
  width: 22.91799%;
  margin: 0 1.041%;
}
.col4 {
  display: block;
  float: left;
  width: 31.25132%;
  margin: 0 1.041%;
}
.col5 {
  display: block;
  float: left;
  width: 39.58465%;
  margin: 0 1.041%;
}
.col6 {
  display: block;
  float: left;
  width: 47.91798%;
  margin: 0 1.041%;
}
.col7 {
  display: block;
  float: left;
  width: 56.25131%;
  margin: 0 1.041%;
}
.col8 {
  display: block;
  float: left;
  width: 64.58464%;
  margin: 0 1.041%;
}
.col9 {
  display: block;
  float: left;
  width: 72.91797%;
  margin: 0 1.041%;
}
.col10 {
  display: block;
  float: left;
  width: 81.2513%;
  margin: 0 1.041%;
}
.col11 {
  display: block;
  float: left;
  width: 89.58463%;
  margin: 0 1.041%;
}
.col12 {
  display: block;
  float: left;
  width: 97.91796%;
  margin: 0 1.041%;
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .col-t1 {
    width: 6.25133%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .col-t2 {
    width: 14.58466%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .col-t3 {
    width: 22.91799%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .col-t4 {
    width: 31.25132%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .col-t5 {
    width: 39.58465%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .col-t6 {
    width: 47.91798%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .col-t7 {
    width: 56.25131%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .col-t8 {
    width: 64.58464%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .col-t9 {
    width: 72.91797%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .col-t10 {
    width: 81.2513%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .col-t11 {
    width: 89.58463%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .col-t12 {
    width: 97.91796%;
  }
}
@media only screen and (max-width: 480px) {
  .col-m1 {
    width: 6.25133%;
  }
}
@media only screen and (max-width: 480px) {
  .col-m2 {
    width: 14.58466%;
  }
}
@media only screen and (max-width: 480px) {
  .col-m3 {
    width: 22.91799%;
  }
}
@media only screen and (max-width: 480px) {
  .col-m4 {
    width: 31.25132%;
  }
}
@media only screen and (max-width: 480px) {
  .col-m5 {
    width: 39.58465%;
  }
}
@media only screen and (max-width: 480px) {
  .col-m6 {
    width: 47.91798%;
  }
}
@media only screen and (max-width: 480px) {
  .col-m7 {
    width: 56.25131%;
  }
}
@media only screen and (max-width: 480px) {
  .col-m8 {
    width: 64.58464%;
  }
}
@media only screen and (max-width: 480px) {
  .col-m9 {
    width: 72.91797%;
  }
}
@media only screen and (max-width: 480px) {
  .col-m10 {
    width: 81.2513%;
  }
}
@media only screen and (max-width: 480px) {
  .col-m11 {
    width: 89.58463%;
  }
}
@media only screen and (max-width: 480px) {
  .col-m12 {
    width: 97.91796%;
  }
}
.push1 {
  margin-left: 9.37433%;
}
.push2 {
  margin-left: 17.70766%;
}
.push3 {
  margin-left: 26.04099%;
}
.push4 {
  margin-left: 34.37432%;
}
.push5 {
  margin-left: 42.70765%;
}
.push6 {
  margin-left: 51.04098%;
}
.push7 {
  margin-left: 59.37431%;
}
.push8 {
  margin-left: 67.70764%;
}
.push9 {
  margin-left: 76.04097%;
}
.push10 {
  margin-left: 84.3743%;
}
.push11 {
  margin-left: 92.70763%;
}
.push12 {
  margin-left: 101.04096%;
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .push-t1 {
    margin-left: 9.37433%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .push-t2 {
    margin-left: 17.70766%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .push-t3 {
    margin-left: 26.04099%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .push-t4 {
    margin-left: 34.37432%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .push-t5 {
    margin-left: 42.70765%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .push-t6 {
    margin-left: 51.04098%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .push-t7 {
    margin-left: 59.37431%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .push-t8 {
    margin-left: 67.70764%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .push-t9 {
    margin-left: 76.04097%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .push-t10 {
    margin-left: 84.3743%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .push-t11 {
    margin-left: 92.70763%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .push-t12 {
    margin-left: 101.04096%;
  }
}
@media only screen and (max-width: 480px) {
  .push-m1 {
    margin-left: 9.37433%;
  }
}
@media only screen and (max-width: 480px) {
  .push-m2 {
    margin-left: 17.70766%;
  }
}
@media only screen and (max-width: 480px) {
  .push-m3 {
    margin-left: 26.04099%;
  }
}
@media only screen and (max-width: 480px) {
  .push-m4 {
    margin-left: 34.37432%;
  }
}
@media only screen and (max-width: 480px) {
  .push-m5 {
    margin-left: 42.70765%;
  }
}
@media only screen and (max-width: 480px) {
  .push-m6 {
    margin-left: 51.04098%;
  }
}
@media only screen and (max-width: 480px) {
  .push-m7 {
    margin-left: 59.37431%;
  }
}
@media only screen and (max-width: 480px) {
  .push-m8 {
    margin-left: 67.70764%;
  }
}
@media only screen and (max-width: 480px) {
  .push-m9 {
    margin-left: 76.04097%;
  }
}
@media only screen and (max-width: 480px) {
  .push-m10 {
    margin-left: 84.3743%;
  }
}
@media only screen and (max-width: 480px) {
  .push-m11 {
    margin-left: 92.70763%;
  }
}
@media only screen and (max-width: 480px) {
  .push-m12 {
    margin-left: 101.04096%;
  }
}
/* ####################################################### */
/* IMPORTS */
/* LESS HAT */
/* ####################################################### */
/* CLASS UTILS */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.w100 {
  width: 100%;
}
.t {
  outline: 1px dashed rgba(0, 0, 0, 0.2);
}
/* GENERAL STYLES */
/*------ NAV ------*/
/* .horizontal */
ul.horizontal {
  list-style: none;
}
ul.horizontal li {
  position: relative;
}
ul.horizontal li a {
  display: block;
  text-align: center;
  text-decoration: none;
}
ul.horizontal li:hover ul {
  display: block;
}
ul.horizontal li > ul {
  position: absolute;
  display: none;
  width: 100%;
  list-style: none;
}
/* PLUGINS styles */
/* SLICK SLIDER */
.slick-arrow {
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  position: absolute;
  border: none;
  background: #cb1d24;
  color: #333333;
  z-index: 10;
}
.slick-arrow.slick-prev {
  left: 0;
}
.slick-arrow.slick-next {
  right: 0;
}
.slick-arrow:hover {
  cursor: pointer;
  background: #333333;
  color: #cb1d24;
}
@-webkit-keyframes shaking {
  /*
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
    */
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}
.shake {
  -webkit-animation-name: shaking;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, -10px);
    -moz-transform: translate(0px, -10px);
    -o-transform: translate(0px, -10px);
    -ms-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
.floating {
  -webkit-animation-name: floating;
  -webkit-animation-duration: 2s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}
.breath {
  -webkit-animation-name: breathing;
  -webkit-animation-duration: 2s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -o-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.wait {
  -webkit-animation-name: waiting;
  -webkit-animation-duration: 2s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes waiting {
  0% {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
  }
  50% {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    opacity: 0.1;
  }
  100% {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
  }
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Slider */
.slick-loading .slick-list {
  background: #ffffff url('ajax-loader.gif') center center no-repeat;
}
/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/slick.eot');
  src: url('fonts/slick.eot?#iefix') format('embedded-opentype'), url('fonts/slick.woff') format('woff'), url('fonts/slick.ttf') format('truetype'), url('fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: '←';
}
[dir='rtl'] .slick-prev:before {
  content: '→';
}
.slick-next {
  right: -25px;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: '→';
}
[dir='rtl'] .slick-next:before {
  content: '←';
}
/* Dots */
.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}
/* Fluidbox styling starts here */
a[data-fluidbox] {
  background-color: #eee;
  border: none;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  margin-bottom: 1.5rem;
}
a[data-fluidbox].fluidbox-opened {
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}
a[data-fluidbox] img {
  display: block;
  margin: 0 auto;
  opacity: 0;
  max-width: 100%;
  transition: all 0.25s ease-in-out;
}
a[class^='float'] {
  margin: 1rem;
  margin-top: 0;
  width: 33.33333%;
}
a[class^='float'].float-left {
  float: left;
  margin-left: 0;
}
a[class^='float'].float-right {
  float: right;
  margin-right: 0;
}
#fluidbox-overlay {
  background-color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
}
.fluidbox-wrap {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  z-index: 400;
  transition: all 0.25s ease-in-out;
}
.fluidbox-opened .fluidbox-wrap {
  z-index: 600;
}
.fluidbox-ghost {
  background-size: cover;
  background-position: center center;
  position: absolute;
  transition: all 0.25s ease-in-out;
}
.gallery {
  display: flex;
  -webkit-flex-flow: row wrap;
  /* Fix for iOS */
  flex-flow: row wrap;
  justify-content: space-between;
}
.gallery a {
  margin-bottom: 1rem;
}
.gallery a.col-2 {
  width: 49%;
}
.gallery a.col-3 {
  width: 32%;
}
.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.container {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.t {
  outline: 1px solid #eee;
}
body {
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: 400;
}
body.home {
  background: url(../img/home.jpg) center no-repeat;
  background-size: cover;
}
body.home header {
  background: transparent;
}
header {
  background: #858585;
  padding-bottom: 37px;
}
header #header {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
}
header #header:before,
header #header:after {
  content: "";
  display: table;
}
header #header:after {
  clear: both;
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  header #header {
    width: 480px;
  }
}
@media only screen and (max-width: 480px) {
  header #header {
    width: 100%;
  }
}
header #header .container {
  width: 100%;
}
header #header:before,
header #header:after {
  content: "";
  display: table;
}
header #header:after {
  clear: both;
}
header #header .logo {
  display: block;
  float: left;
  width: 14.58466%;
  margin: 0 1.041%;
  position: relative;
  z-index: 10;
  text-align: center;
  margin-top: 20px;
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  header #header .logo {
    width: 47.91798%;
  }
}
@media only screen and (max-width: 480px) {
  header #header .logo {
    width: 97.91796%;
  }
}
header #header .logo img {
  width: 100%;
}
header #header .socials {
  display: block;
  float: left;
  width: 14.58466%;
  margin: 0 1.041%;
  position: relative;
  z-index: 10;
  margin-left: 67.70764%;
  margin-top: 20px;
  text-align: right;
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  header #header .socials {
    width: 47.91798%;
  }
}
@media only screen and (max-width: 480px) {
  header #header .socials {
    width: 97.91796%;
  }
}
header #header .socials a {
  margin: 5px;
  color: #ffffff;
}
header #header .socials a:hover {
  color: #858585;
}
header nav {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
}
header nav:before,
header nav:after {
  content: "";
  display: table;
}
header nav:after {
  clear: both;
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  header nav {
    width: 480px;
  }
}
@media only screen and (max-width: 480px) {
  header nav {
    width: 100%;
  }
}
header nav .container {
  width: 100%;
}
header nav:before,
header nav:after {
  content: "";
  display: table;
}
header nav:after {
  clear: both;
}
header nav ul {
  *zoom: 1;
  text-align: center;
  border-bottom: 4px solid #ffffff;
  margin-top: -90px;
  position: relative;
}
header nav ul:before,
header nav ul:after {
  content: "";
  display: table;
}
header nav ul:after {
  clear: both;
}
header nav ul li {
  display: inline-block;
}
header nav ul li:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  height: 10px;
  width: 200px;
}
header nav ul li a {
  display: inline-block;
  padding: 60px 10px 16px 10px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.4em;
}
header nav ul li a:hover,
header nav ul li a.active {
  background: #f8ab31;
}
header nav ul li:first-child {
  margin-left: 9.37433%;
}
header nav ul li ul {
  display: none;
  position: absolute;
  bottom: -37px;
  width: 960px;
  left: 0;
  border-bottom: none;
}
header nav ul li ul li a {
  padding: 5px;
  font-size: 1em;
}
header nav ul li:hover ul {
  display: block;
}
.impulsamos {
  width: 400px;
  height: 248px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -124px;
  -webkit-animation-name: floating;
  -webkit-animation-duration: 2s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}
.productsSubmenu {
  *zoom: 1;
  padding: 40px 0;
}
.productsSubmenu:before,
.productsSubmenu:after {
  content: "";
  display: table;
}
.productsSubmenu:after {
  clear: both;
}
.productsSubmenu ul {
  width: 100%;
  list-style: none;
}
.productsSubmenu ul li {
  display: block;
  float: left;
  width: 20%;
  display: table;
  overflow: hidden;
}
.productsSubmenu ul li a {
  display: block;
  width: 100%;
  height: 560px;
  background: #858585;
  display: table-cell;
  vertical-align: bottom;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  color: #ffffff;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  text-decoration: none;
  background-position: left;
  overflow: hidden;
  word-wrap: break-word;
}
.productsSubmenu ul li a:hover {
  background-position: center;
  font-size: 6em;
  line-height: 0.8em;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  padding: 0;
  word-break: break-all;
}
.productsSubmenu ul li:nth-child(1) a {
  background-image: url(../img/productos_pop.jpg);
}
.productsSubmenu ul li:nth-child(2) a {
  background-image: url(../img/productos_pack.jpg);
}
.productsSubmenu ul li:nth-child(3) a {
  background-image: url(../img/productos_pal.jpg);
}
.productsSubmenu ul li:nth-child(4) a {
  background-image: url(../img/productos_bro.jpg);
}
.productsSubmenu ul li:nth-child(5) a {
  background-image: url(../img/productos_com.jpg);
}
.proceso-cre,
.proceso-pre,
.proceso-tec {
  font-size: 2em;
  color: #333333;
  text-decoration: none;
  *zoom: 1;
  line-height: 180px;
}
.proceso-cre:before,
.proceso-pre:before,
.proceso-tec:before,
.proceso-cre:after,
.proceso-pre:after,
.proceso-tec:after {
  content: "";
  display: table;
}
.proceso-cre:after,
.proceso-pre:after,
.proceso-tec:after {
  clear: both;
}
.proceso-cre .ico,
.proceso-pre .ico,
.proceso-tec .ico {
  width: 140px;
  height: 180px;
  display: inline-block;
  float: right;
  background-position: top left;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}
.proceso-cre.proceso-cre .ico,
.proceso-pre.proceso-cre .ico,
.proceso-tec.proceso-cre .ico {
  background-image: url(../img/ico_creatividad.png);
}
.proceso-cre.proceso-pre .ico,
.proceso-pre.proceso-pre .ico,
.proceso-tec.proceso-pre .ico {
  background-image: url(../img/ico_precision.png);
}
.proceso-cre.proceso-tec .ico,
.proceso-pre.proceso-tec .ico,
.proceso-tec.proceso-tec .ico {
  background-image: url(../img/ico_tecnologia.png);
}
.proceso-cre:hover,
.proceso-pre:hover,
.proceso-tec:hover,
.proceso-cre.pro-active,
.proceso-pre.pro-active,
.proceso-tec.pro-active {
  color: #cb1d24;
}
.proceso-cre:hover .ico,
.proceso-pre:hover .ico,
.proceso-tec:hover .ico,
.proceso-cre.pro-active .ico,
.proceso-pre.pro-active .ico,
.proceso-tec.pro-active .ico {
  background-position: top right;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.redtitle {
  color: #cb1d24;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  margin: 20px 0;
}
.galleryitem {
  height: 180px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.galleryitem .ico {
  width: 32px;
  height: 32px;
  background: url(../img/ico_open.png) center no-repeat;
  position: absolute;
  left: -10px;
  top: -10px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.galleryitem:hover .ico {
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
#map-contact {
  height: 280px;
  margin-top: 20px;
}
.contactInfo {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: 400;
}
.contactInfo .info {
  margin: 40px 0;
  *zoom: 1;
}
.contactInfo .info:before,
.contactInfo .info:after {
  content: "";
  display: table;
}
.contactInfo .info:after {
  clear: both;
}
.contactInfo .info img {
  float: left;
  height: 100%;
}
.contactInfo .info .text {
  margin-left: 80px;
  margin-top: 14px;
}
.contactInfo .info .text a {
  color: #333333;
  text-decoration: none;
}
.contactInfo .info .text a:hover {
  color: #cb1d24;
}
.contactInfo .info .text .container {
  margin-bottom: 5px;
  color: #cb1d24;
}
.contactInfo .info .text .container input,
.contactInfo .info .text .container textarea {
  background: #d5d5d5;
  border: none;
  padding: 4px 6px;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-size: 1.1em;
  display: block;
}
.contactInfo .info .text .container.radios {
  font-size: 0.9em;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contactInfo .info .text .container.radios input {
  display: none;
}
.contactInfo .info .text .container.radios input + label:before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #cb1d24;
  background: transparent;
  margin-right: 5px;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  cursor: pointer;
}
.contactInfo .info .text .container.radios input:checked + label {
  color: #333333;
}
.contactInfo .info .text .container.radios input:checked + label:before {
  background: #cb1d24;
  border: none;
}
.contactInfo .info .text .container button {
  display: block;
  width: 100%;
  border: none;
  padding: 10px 20px;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: 400;
  color: #ffffff;
  background: #cb1d24;
  cursor: pointer;
  font-size: 1.1em;
}
.contactInfo .info .text .container button:hover {
  background: #333333;
}
.genProducts {
  position: relative;
  width: 100%;
}
.menuGen {
  position: absolute;
  display: block;
  float: left;
  width: 22.91799%;
  margin: 0 1.041%;
  height: 100%;
  margin-left: 0;
  background: rgba(203, 29, 36, 0.8);
  *zoom: 1;
  z-index: 10;
  left: 0;
  top: 0;
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .menuGen {
    width: 47.91798%;
  }
}
@media only screen and (max-width: 480px) {
  .menuGen {
    width: 97.91796%;
  }
}
.menuGen:before,
.menuGen:after {
  content: "";
  display: table;
}
.menuGen:after {
  clear: both;
}
.menuGen h1 {
  margin: 20px;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #ffffff;
}
.menuGen ul {
  margin: 20px;
  list-style: none;
  font-size: 1.1em;
}
.menuGen ul li {
  text-align: right;
  margin: 5px 0;
}
.menuGen ul li a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: 400;
}
.menuGen ul li a small {
  font-size: 0.8em;
  display: block;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.menuGen ul li a:hover {
  font-size: 1.6em;
}
.menuGen ul li a:hover small {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.gen-slider {
  margin-bottom: 0;
}
.gen-slider div {
  position: relative;
}
.gen-slider div img {
  width: 100%;
}
.gen-slider .mensaje {
  display: block;
  float: left;
  width: 31.25132%;
  margin: 0 1.041%;
  margin-left: 26.04099%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  background: rgba(51, 51, 51, 0.9);
  color: #ffffff;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  .gen-slider .mensaje {
    width: 47.91798%;
  }
}
@media only screen and (max-width: 480px) {
  .gen-slider .mensaje {
    width: 97.91796%;
  }
}
.gen-slider .mensaje p {
  margin: 80px 20px;
}
.gen-slider .slick-dots {
  bottom: 20px;
}
.gen-slider .slick-dots li.slick-active button::before {
  color: #ffffff;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  font-size: 12px;
}
.gen-slider .slick-dots li button::before {
  font-size: 6px;
  color: #ffffff;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
